In [1]:
A database is an organized collection of data that is stored and accessed electronically. It can be thought of as a structured way to store and manage information, 
which can be easily queried and manipulated.

# SQL

SQL databases are relational databases that store data in tables with predefined relationships between them. 
These databases use SQL, a standardized query language, to manage and manipulate data. 
Some popular examples of SQL databases include MySQL, Oracle, and PostgreSQL.
SQL databases are ideal for applications that require complex queries, such as financial or transactional systems

# NOSQL

NoSQL databases, on the other hand, use non-relational data models to store data. This means that data is not organized in tables with predefined relationships.
NoSQL databases use a variety of data models, such as document-based, key-value, and graph-based. 
Some popular examples of NoSQL databases include MongoDB, Cassandra, and Redis. 
NoSQL databases are ideal for applications that require high scalability, real-time data processing, and flexible data models, such as social media platforms or gaming applications.

In [3]:
DDL stands for Data Definition Language, and it is used to define the structure of a database. 
CREATE is used to create a new table or database object, DROP is used to delete an existing table or database object, 
ALTER is used to modify the structure of an existing table or database object, and TRUNCATE is used to remove all the data from a table while leaving its structure intact.

# Create Table
CREATE TABLE users (
   user_id INT PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   email VARCHAR(50) UNIQUE,
   password VARCHAR(100) NOT NULL
);

# Drop Table
DROP TABLE users;

# Alter Table
ALTER TABLE users ADD COLUMN phone_number VARCHAR(20);

# Truncate Table
TRUNCATE TABLE users;

In [ ]:
DML stands for Data Manipulation Language and it is used to modify or manipulate the data stored in a database.

Insert - INSERT INTO users (user_id, name, email, password) VALUES (1, 'John Smith', 'john@example.com', 'password123');

Update - UPDATE users SET email = 'newemail@example.com' WHERE user_id = 1;

Delete - DELETE FROM users WHERE user_id = 1;

In [ ]:
DQL stands for Data Query Language and it is used to retrieve data from a database.

SELECT name, email FROM users WHERE user_id = 1;
This statement retrieves the "name" and "email" columns of the "users" table where the "user_id" is equal to 1.

In [ ]:
Primary Key:
A primary key is a column or combination of columns that uniquely identifies each record in a table. 
Primary keys are used to enforce data integrity by ensuring that each record in a table can be uniquely identified and accessed. 
Primary keys must be unique and cannot contain null values. A table can have only one primary key. For example, in a table of "users", "user_id" might be used as the primary key.

Foreign Key:
A foreign key is a column in one table that references the primary key of another table. 
Foreign keys are used to establish relationships between tables and enforce referential integrity.
A foreign key constraint ensures that a value in a column of one table matches a value in the primary key of another table.

In [ ]:
import mysql.connector

# establish connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM yourtable")

# fetch the results
myresult = mycursor.fetchall()

# print the results
for row in myresult:
    print(row)

we create a cursor using the cursor() method. A cursor is an object that allows us to execute queries and fetch results.
We then execute a query using the execute() method of the cursor object. In this example, we select all the rows from a table.

In [ ]:
# Clauses

FROM - specifies the table or tables from which the data will be retrieved.
WHERE - filters the rows based on the specified conditions.
GROUP BY - groups the rows by one or more columns.
HAVING - filters the groups based on the specified conditions.
SELECT - selects the columns to be retrieved.
DISTINCT - removes duplicates from the result set.
ORDER BY - sorts the result set by one or more columns.
LIMIT - limits the number of rows returned in the result set.