In [6]:
# import pandas as pd
# data = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
# data.head()
# data.tail()
# data.describe()
# data.columns
# data.shape

In [10]:
# import pandas as pd
# def reindex_df(df):
#     new_index = range(1,2 * len(df) + 1,2)
#     df = df.reset_index(drop=True)
#     df.index = new_index
#     return df

# df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})

# df = reindex_df(df)

# print(df)

In [12]:
def sum_first_three_number(df):
    total = 0
    for i in range(3):
        total += df.loc[i,'Values']
    print('Sum of first three values',total)
    
import pandas as pd

df = pd.DataFrame({'Values':[10,20,30,40,50,60]})

sum_first_three_number(df)

Sum of first three values 60

In [15]:
import pandas as pd

def add_word_counter(df):
    df['Word Count'] = df['Text'].apply(lambda x:len(x.split()))
    return df

df =  pd.DataFrame({'Text':['Hello world','nikhil aniket','op sentance']})
df = add_word_counter(df)
print(df)

            Text  Word Count
0    Hello world           2
1  nikhil aniket           2
2    op sentance           2

In [22]:
# DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame
# DataFrame.size() returns the number of elements in the DataFrame, which is the product of the number of rows and columns in the DataFrame.
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)

6
(3, 2)

In [ ]:
pd.read_excel()

In [27]:
import pandas as pd

df = pd.DataFrame({'Email':['nik@gmail.com','aniket@gmail.com','sam@gmail.com']})

def extract_username(email):
    return email.split('@')[0]

df['Username'] = df['Email'].apply(lambda x: extract_username(x))

print(df)

              Email Username
0     nik@gmail.com      nik
1  aniket@gmail.com   aniket
2     sam@gmail.com      sam

In [38]:
import pandas as pd

df = pd.DataFrame({'A':[3,8,6,2,9],
                   'B':[5,2,9,3,1],
                   'C':[1,7,4,5,2]})

def select_row(df):
    new =  (df['A'] > 5) & (df['B'] < 10)

    select_row = df[new]
    return select_row

d = select_row(df)

print(d)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [43]:
import pandas as pd

df = pd.DataFrame({'Values' : [12,45,87,32,98,65]})

def cal_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    print('Mean:',mean)
    print('Median:',median)
    print('Std_dev:',std_dev)

cal_stats(df)

Mean: 56.5
Median: 55.0
Std_dev: 32.977264895682296

In [49]:
# def add_moving_average(df):
#     df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
#     return df


# df = add_moving_average(df)
# print(df)

In [54]:
import pandas as pd

def add_weekday_col(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime('%A')
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = add_weekday_col(df)
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [61]:
# import pandas as pd

# def select_dates(df):
#     # Convert 'Date' column to timestamps
#     df['Date'] = pd.to_datetime(df['Date'])
    
#     # Select rows where date is between '2023-01-01' and '2023-01-31'
#     mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
#     selected_df = df.loc[mask]
    
#     return selected_df

In [60]:
import pandas as pd